// @import "../../stylesheets/variables";
// @import "../../stylesheets/mixins";

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;

  &__container {
    flex: 1 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
